@use "@utils/utils";

$mobile-height: 100px;
$desktop-width: 100px;
$desktop-width-expanded: 250px;
$desktop-padding: 14px;

.dashboard-menu {
  background-color: var(--mantine-color-body);
  position: fixed;
  z-index: 9;
  transition: width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  @include utils.orientation(landscape) {
    border-right: 1px solid var(--app-color-border);
    height: 100%;
    width: $desktop-width;
    left: 0;
    top: 0;
    bottom: 0;

    @include utils.responsive(desktop) {
      width: $desktop-width-expanded;
    }
  }

  @include utils.orientation(portrait) {
    border-top: 1px solid var(--app-color-border);
    height: $mobile-height;
    bottom: 0;
    left: 0;
    right: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include utils.orientation(portrait) {
      display: flex;
      justify-content: space-around;
    }

    li {
      padding: $desktop-padding;

      & > div {
        height: 100%;
      }

      @include utils.orientation(landscape) {
        height: $desktop-width;
      }
      @include utils.orientation(portrait) {
        height: $mobile-height;
        width: $mobile-height;
      }
    }

    a {
      height: 100%;
      display: block;
      text-decoration: none;
    }

    & .dashboard-menu-navitem {
      height: 100%;
      width: 100%;
      background-color: var(--mantine-color-body);
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      transition: background-color 0.2s;
      color: var(--mantine-color-text);

      &--selected {
        background-color: var(--mantine-color-dynamicPrimary-light);
        color: var(--mantine-color-dynamicPrimary-text);
      }

      &:hover {
        background-color: var(--mantine-color-dynamicPrimary-light-hover);
      }

      & span {
        display: none;
        @include utils.orientation(landscape) {
          @include utils.responsive(desktop) {
            display: block;
            margin-left: 20px;
          }
        }
      }
    }
  }

  /* &__item {
    height: $desktop-width;
    width: $desktop-width;
    padding: $desktop-padding;
  } */
}
