@use "@utils/utils";
@use "@components/static/dashboard_menu/dashboard_menu";

.dashboard {
  margin: 0;
  padding: 0;

  @include utils.orientation(landscape) {
    margin-left: dashboard_menu.$desktop-width;
    @include utils.responsive(desktop) {
      margin-left: dashboard_menu.$desktop-width-expanded;
    }
  }

  &__content {
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    @include utils.orientation(portrait) {
      &::after {
        content: "";
        display: block;
        height: dashboard_menu.$mobile-height;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid var(--app-color-border);
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  }
}
